<div id="container" [style.filter]="navVisible ? 'blur(10px)' : 'none'">
    <section>
    <h1>SOBRE NOSOTROS</h1> <br>
<p>En el corazón de Comas, Lima, se encuentra "La Cervecera", tu proveedor de confianza para cervezas, gaseosas, licores, packs y combos al por mayor y menor. Ofrecemos una amplia variedad de marcas y productos para satisfacer las necesidades de todos, desde negocios hasta el público en general. Nos especializamos en la venta al por mayor, brindando a nuestros clientes comerciales los mejores precios y la mejor calidad en sus pedidos.
    También atendemos al público en general, ofreciendo una amplia variedad de productos a precios competitivos.
    
    En "La Cervecera", nos enorgullecemos de brindar un servicio al cliente excepcional. Nuestro equipo de expertos está siempre dispuesto a ayudarte a encontrar los productos que necesitas y ofrecerte la mejor experiencia de compra. Estamos comprometidos con la calidad y la satisfacción de nuestros clientes. Por eso, nos aseguramos de que todos nuestros productos sean de las mejores marcas y cumplan con los más altos estándares de calidad.
    
    Te invitamos a visitarnos o contactarnos para más información.
    
    "La Cervecera"
    
    Tu proveedor de confianza en Comas.</p>
</section>
</div>